<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header") %>
</head>
<body>
    <%- include("./partials/navbar") %>
        <div class="container">
            <h1>Hello </h1>
            <div id="app">
                <form @submit.prevent="createServer" class="form-control">
                    <h3>Add New Server List</h3>
                    <input type="text" class="form-control w-100" v-model="title" >
                    <button class="btn btn-success my-2" type="submit">Save</button>
                </form>
                <div class="spinner-grow" role="status" v-if="servers.length === 0">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <ul class="list-group my-2" v-else>
                    <li class="list-group-item d-flex justify-content-between" v-for="server in servers">
                        <span>
                            {{server.title}}
                            <strong>{{server.status}}</strong>
                        </span>
                        <button @click="remove(server.id)" class="btn btn-danger">Delete</button>
                    </li>
                </ul>
            </div>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="/script.js"></script> 

</body>
</html>